#NavPane{ 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    bottom: 440px; 
    width: 249px; 
    padding: 10px; 
    background-color: #F5DEB3; 
    box-shadow: 10px 5px; 
}

#selections {
    position: absolute; 
    top: 450px; 
    bottom: 100px; 
    left: 10px;
    width: 249px; 
    padding: 10px; 
    background-color: #F5DEB3; 
    box-shadow: 10px 5px; 
}

#title{ 
    font-size: 28pt; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black; 
    padding-bottom: 10px; 
    text-align: center;
}

#select_title{ 
    font-size: 12pt; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black; 
	padding: 10px; 
    text-align: left;
}

#author{ 
    font-size: 20pt; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

#paragraphs{ 
    font-size: 10pt; 
    font-family: Arial, Helvetica, sans-serif; 
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}


#map {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}


.data_visible {
	opacity: .5;
}


.data_hidden {
	display: block;
}

#overlay {
	pointer-events: none;
}

/* #legendsvg {
	height: 35px;
	width: 250px;
	overflow: hidden;
} */


hr {
	border: 0;
	border-bottom: 1px solid white;
}


#texts {
	position: absolute;
	right: 0px;
	width: 249px;
    top: 0px;
    bottom: 0px;
	padding: 10px;
	font-size: 12pt;
	background-color: gray;
	border-left: 1px solid white;
	color: white;
	font-family: sans-serif;

}

#title_segundo {
	font-size: 40pt;
	font-family: sans-serif;
	color: white;
}

#author_segundo {
	font-size: 10pt;
	font-style: italic;
	letter-spacing: 1px;
	font-family: sans-serif;
	color: white;

}

#legend .label {
    font-size: 10pt;
	pointer-events: none; 
	font-family: sans-serif;
	color: white;
}


circle {
	fill-opacity: .8;
}

path,circle {
    vector-effect: non-scaling-stroke;
}
.label {
	opacity: .4;
	font-size: 14pt;
	pointer-events: none; 
}
.label_point {
	stroke: none;
	pointer-events: none; 
}

.highlight {
    stroke-width: 4px;
    opacity: 1.0;
		stroke: gray;
}

.selected {
    stroke: white;
    animation: selectanim 200ms ease;
    stroke-width: 8px;
}
@keyframes selectanim {
  from { stroke-width: 500px; }
  to { stroke-width: 4px; }
}

#tooltip {
	margin-top: 1em;
	font-size: 10pt;
}

#dataLocator {
	width: 200px; 
}


svg {
	background-color: transparent;
}

.dot {
	pointer-events: auto;
}

svg.data {
	position: absolute;
	overflow: visible;
}