#NavPane{ 
    position: absolute; 
    top: 70px; 
    left: 10px; 
    bottom: 400px; 
    width: 249px; 
    padding: 10px; 
    background-color: #F5DEB3; 
	box-shadow: 10px 5px; 
	border-radius: 25px;
}

#selections {
    position: absolute; 
    top: 450px; 
    bottom: 50px; 
    left: 10px;
    width: 249px; 
    padding: 10px; 
    background-color: #F5DEB3; 
	box-shadow: 10px 5px; 
	border-radius: 25px;
}

#texts {
	position: absolute;
	width: 255px;
	top: 600px;
	left: 18px;
    bottom: 70px;
	font-size: 6pt;
	text-align: center;
	background-color: #fcf5e9;
	font-family: Arial, Helvetica, sans-serif; 
	border-radius: 25px;

}

#title{ 
    font-size: 28pt; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black; 
    padding-bottom: 10px; 
    text-align: center;
}

#select_title{ 
    font-size: 12pt; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black; 
	padding-top: 7px;
    text-align: center;
}

#author{ 
    font-size: 20pt; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
}

#paragraphs{ 
    font-size: 10pt; 
    font-family: Arial, Helvetica, sans-serif; 
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
}
p {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
  }
body {
	margin: 0;
	padding: 0;
	background-color: white;
}


#map {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}


.data_visible {
	opacity: 10;
}


.data_hidden {
	display: none;
}

#overlay {
	pointer-events: none;
}



hr {
	border: 0;
	border-bottom: 1px solid white;
}




#legend .label {
    font-size: 10pt;
	pointer-events: none; 
	font-family: sans-serif;
	color: white;
}


circle {
	fill-opacity: .8;
}

path,circle {
    vector-effect: non-scaling-stroke;
}
.label {
	opacity: .4;
	font-size: 18t;
	pointer-events: none; 
}
.label_point {
	stroke: none;
	pointer-events: none; 
}

.highlight {
    stroke-width: 4px;
    opacity: 1.0;
		stroke: gray;
}

.selected {
    stroke: white;
    animation: selectanim 200ms ease;
    stroke-width: 8px;
}
@keyframes selectanim {
  from { stroke-width: 500px; }
  to { stroke-width: 4px; }
}

#tooltip {
	margin-top: 1em;
	font-size: 9pt;
}

#dataLocator {
	width: 200px; 
}


svg {
	background-color: transparent;
}

.dot {
	pointer-events: auto;
}

svg.data {
	position: absolute;
	overflow: visible;
}