body{ 
    margin: 0; 
    padding: 0; 
    background-color: white; 
}
#map {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

#NavPane{ 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    bottom: 10px; 
    width: 249px; 
    padding: 10px; 
    background-color: #F5DEB3; 
    box-shadow: 10px 5px; 
}

#title{ 
    font-size: 24pt; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black; 
}

#author{ 
    font-size: 20pt; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}